In [ ]:
import pandas as pd
import numpy as np

In [ ]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
    
chipo = pd.read_csv(url, sep = '\t')

In [ ]:
chipo.sort_values('item_name')

order_id                                                4285772
quantity                                                   4972
item_name     6 Pack Soft Drink6 Pack Soft Drink6 Pack Soft ...
item_price    $12.98 $6.49 $6.49 $6.49 $6.49 $6.49 $6.49 $6....
dtype: object

In [ ]:
chipo.groupby('item_name').first()

                                       order_id  ...  item_price
item_name                                        ...
6 Pack Soft Drink                           129  ...      $6.49
Barbacoa Bowl                                19  ...     $11.75
Barbacoa Burrito                             11  ...      $8.99
Barbacoa Crispy Tacos                        75  ...     $11.75
Barbacoa Salad Bowl                         501  ...     $11.89
Barbacoa Soft Tacos                          26  ...      $9.25
Bottled Water                                17  ...      $1.09
Bowl                                        193  ...     $22.20
Burrito                                     214  ...      $7.40
Canned Soda                                   9  ...      $2.18
Canned Soft Drink                           114  ...      $1.25
Carnitas Bowl                                17  ...      $8.99
Carnitas Burrito                             14  ...      $8.99
Carnitas Crispy Tacos                       230  ...      $9.25
Carnitas Salad                             1500  ...      $8.99
Carnitas Salad Bowl                         468  ...     $11.89
Carnitas Soft Tacos                         103  ...      $9.25
Chicken Bowl                                  2  ...     $16.98
Chicken Burrito                               8  ...      $8.49
Chicken Crispy Tacos                          6  ...      $8.75
Chicken Salad                               109  ...     $10.98
Chicken Salad Bowl                           20  ...      $8.75
Chicken Soft Tacos                            6  ...      $8.75
Chips                                        19  ...      $2.15
Chips and Fresh Tomato Salsa                  1  ...      $2.39
Chips and Guacamole                           5  ...      $4.45
Chips and Mild Fresh Tomato Salsa           279  ...      $3.00
Chips and Roasted Chili Corn Salsa          102  ...      $2.95
Chips and Roasted Chili-Corn Salsa           85  ...      $2.39
Chips and Tomatillo Green Chili Salsa        18  ...      $2.95
Chips and Tomatillo Red Chili Salsa          49  ...      $2.95
Chips and Tomatillo-Green Chili Salsa         1  ...      $2.39
Chips and Tomatillo-Red Chili Salsa         130  ...      $2.39
Crispy Tacos                                217  ...      $7.40
Izze                                          1  ...      $3.39
Nantucket Nectar                              1  ...      $3.39
Salad                                       575  ...      $7.40
Side of Chips                                 3  ...      $1.69
Steak Bowl                                   25  ...      $8.99
Steak Burrito                                 4  ...     $11.75
Steak Crispy Tacos                           40  ...      $9.25
Steak Salad                                 276  ...      $8.99
Steak Salad Bowl                            123  ...     $23.78
Steak Soft Tacos                              4  ...      $9.25
Veggie Bowl                                  28  ...     $11.25
Veggie Burrito                               26  ...     $11.25
Veggie Crispy Tacos                         668  ...      $8.49
Veggie Salad                                686  ...      $8.49
Veggie Salad Bowl                            83  ...     $11.25
Veggie Soft Tacos                           304  ...     $11.25

[50 rows x 4 columns]

In [ ]:
chipo.item_name.value_counts()

Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Chips                                    211
Steak Bowl                               211
Bottled Water                            162
Chicken Soft Tacos                       115
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Izze                                      20
Chips and Tomatillo-Red Chili Salsa       20
Chips and Roasted Chili-Corn Salsa        18
Veggie Salad Bowl                         18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Veggie Salad                               6
Burrito                                    6
Carnitas Salad Bowl                        6
Steak Salad                                4
Crispy Tacos                               2
Bowl                                       2
Salad                                      2
Carnitas Salad                             1
Veggie Crispy Tacos                        1
Chips and Mild Fresh Tomato Salsa          1
Name: item_name, dtype: int64

In [ ]:
most_ordered = chipo.groupby('item_name')

In [ ]:

most_ordered = most_ordered.sum()

In [ ]:
most_ordered = most_ordered.sort_values(['quantity'], ascending=False)

In [ ]:
most_ordered.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [ ]:
chipo.groupby('order_id')['']

          quantity  item_name  choice_description  item_price
order_id
1                4          4                   2           4
2                1          1                   1           1
3                2          2                   1           2
4                2          2                   2           2
5                2          2                   1           2
...            ...        ...                 ...         ...
1830             2          2                   2           2
1831             3          3                   1           3
1832             2          2                   1           2
1833             2          2                   2           2
1834             3          3                   3           3

[1834 rows x 4 columns]